/* Trying to make this aesthetically pleasing */

p {
  color: white;
}

#toprow {
  padding-top: 120px;
}

#QueCoinLogo {
  width: 200px;
  height: auto;
}

.wrapWord {
  overflow-wrap: break-word;
}
