/* Trying to make this aesthetically pleasing */

body {
  background: url(https://i.imgur.com/hffM7u4.gif) no-repeat center center fixed;
  background-size: cover;
}

p {
  color: white;
}

#toprow {
  padding-top: 120px;
}

#QueCoinLogo {
  width: 200px;
  height: auto;
}

.wrapWord{
  overflow-wrap: break-word;
}
